{
  "presets": [
    [
      "@babel/preset-env",
      {
        "bugfixes": true,
        "useBuiltIns": "usage",
        "corejs": "3.8",
        "shippedProposals": true
      }
    ],
    "@babel/preset-react"
  ]
}
